################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TwitterAzureFunction/TwitterConnectionInfo.cs
